@model TravelDash.Models.CarsViewModel
@{
    ViewBag.Title = "CarsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Car Rental Search</h2>


@using (Html.BeginForm("CarSearchResult", "Car", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter Car Details</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Pickup  , new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Pickup, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PickUpDtae, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PickUpDtae, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DropOffDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DropOffDate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Find Cars!" />
        </div>
    </div>
}


<h1 style="text-align:center">Cars Search Results Table</h1>


@using (Html.BeginForm("FightsIndex", "Fights", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container" style"width:100%">
        <form id="restaurantTable">
            <table class="table">
                <thead>
                    <tr style="margin-bottom:20px">
                        <th class="tableTitle">Add</th>
                        <th class="tableTitle"></th>
                        <th class="tableTitle">Provider</th>
                        <th class="tableTitle">Info</th>
                        <th class="tableTitle">Rate (per week)</th>
                    </tr>
                </thead>
                @for (var i = 0; i < Model.TempCars.Count(); i++)
                {
                    <tbody>
                        <tr>
                            <td><input name="@("checkBox"+(i.ToString()))" value="true" type="checkbox" /></td>
                            <td></td>
                            <td><img src="@Model.TempCars.ElementAt(i).ImageUrl"></td>
                            <td>@Model.TempCars.ElementAt(i).Provider</td>
                            <td>@Model.TempCars.ElementAt(i).Info</td>
                            <td>@Model.TempCars.ElementAt(i).Price</td>
                        </tr>
                    </tbody>
                }
            </table>
            <button type="submit" class="btn">Add choices to dash</button>
        </form>
    </div>
}
<br /><br />
<li>@Html.ActionLink("Back to dashboard", "Index", "Dashboard")</li>

