@model TravelDash.Models.FlightViewModel
@{
    ViewBag.Title = "Flights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Flights Search</h2>

@using (Html.BeginForm("PlaneSearchResult", "Flight", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter Flight Details</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Origin , new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Origin, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Destination, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Destination, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Outbound, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Outbound, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Inbound, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Inbound, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfResults, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NumberOfResults, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Find Flights!" />
        </div>
    </div>
}
<h1 style="text-align:center">Flights Search Results</h1>
@using (Html.BeginForm("FlightsIndex", "Flight", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container" style"width:100%">
        <form id="restaurantTable">
            <table class="table">
                <thead>
                    <tr style="margin-bottom:20px">
                        <th class="tableTitle">Add</th>
                        <th></th>
                        <th class="tableTitle">Inbound Airline</th>
                        <th class="tableTitle">Inbound Departure Info</th>
                        <th class="tableTitle">Outbound Airline</th>
                        <th class="tableTitle">Outbound Departure Info</th>
                    </tr>
                </thead>
                @for (var i = 0; i < Model.TempPlanes.Count(); i++)
                {
                    <tbody>
                        <tr>
                            <td><input name="@("checkBox"+(i.ToString()))" value="true" type="checkbox" /></td>
                            <td></td>
                            <td>@Model.TempPlanes.ElementAt(i).InboundAirline</td>
                            <td>@Model.TempPlanes.ElementAt(i).InboundDeparture</td>
                            <td>@Model.TempPlanes.ElementAt(i).OutboundAirline</td>
                            <td>@Model.TempPlanes.ElementAt(i).OutboundDeparture</td>
                        </tr>
                    </tbody>
                }
            </table>
            <button  type="submit" class="btn">Add choices to dash</button>
        </form>
    </div>
}
<br /><br />
<li>@Html.ActionLink("Back to dashboard", "Index", "Dashboard")</li>
