@model TravelDash.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<h1><b style="color:black">Hello @ViewBag.FirstName </b></h1>
<h2><b style="color:black">Welcome to your dashboard</b></h2>
<br />

 @if (ViewBag.Status == false)
 {
<h4>You currently dont have any trips planned <br /><br /> Lets get one started!</h4>

<li>@Html.ActionLink("Start a new trip", "TripIndex", "Booking")</li>
 }
 else
 {
    <h3> Get Started Planning for your trip!</h3>
   <li> @Html.ActionLink("Book a flight", "FlightsIndex", "Flight") </li>
   <li> @Html.ActionLink("Book a hotel", "HotelsIndex", "Hotel") </li>
   <li> @Html.ActionLink("Book a car", "CarsIndex", "Car") </li>
   <li> @Html.ActionLink("Check out restaurants", "RestaurantsIndex", "Restaurant") </li>
   <li> @Html.ActionLink("Check out some local events", "EventsIndex", "Event") </li>

<div style="max-width:30%; float:right">
    <div id="output"></div>
    <div id="outputTwo"></div>
</div>
<script>
    var banana = "@ViewBag.Location"
</script>
@Scripts.Render("~/Scripts/Weather_API.js")



<h3><b>Here's a summary of your trip so far:</b></h3>

<div style="max-width:70%; float:left">
    <h3>Chosen Flights</h3>
    <table class="table">
        <thead>
            <tr style="margin-bottom:20px">
                <th class="tableTitle">Inbound Airline</th>
                <th class="tableTitle">Inbound Departure Info</th>
                <th class="tableTitle">Outbound Airline</th>
                <th class="tableTitle">Outbound Departure Info</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.PlaneModel.Count(); i++)
            {
                if (Model.PlaneModel.ElementAt(i).UserId == Model.UserId)
                {
                    <tr>
                        <td>@Model.PlaneModel.ElementAt(i).InboundAirline</td>
                        <td>@Model.PlaneModel.ElementAt(i).InboundDeparture</td>
                        <td>@Model.PlaneModel.ElementAt(i).OutboundAirline</td>
                        <td>@Model.PlaneModel.ElementAt(i).OutboundDeparture</td>
                    </tr>
                }
            }
        </tbody>

    </table>

    <br /><br />
    <h3>Chosen Cars</h3>
    <table class="table">
        <thead>
            <tr style="margin-bottom:20px">
                <th class="tableTitle">Provider</th>
                <th class="tableTitle">Info</th>
                <th class="tableTitle">Rate (per week)</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.CarModel.Count(); i++)
            {
                if (Model.CarModel.ElementAt(i).UserId == Model.UserId)
                {

                    <tr>

                        <td><img src="@Model.CarModel.ElementAt(i).ImageUrl"></td>
                        <td>@Model.CarModel.ElementAt(i).Provider</td>
                        <td>@Model.CarModel.ElementAt(i).Info</td>
                        <td>@Model.CarModel.ElementAt(i).Price</td>
                    </tr>
                }
            }
        </tbody>
    </table>


    <br /><br />
    <h3>Chosen Hotels</h3>


    <table class="table">
        <thead>
            <tr style="margin-bottom:20px">
                <th></th>
                <th class="tableTitle">Name</th>
                <th class="tableTitle">Address</th>
                <th class="tableTitle">Total Price</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.HotelModel.Count(); i++)
            {
                if (Model.HotelModel.ElementAt(i).UserId == Model.UserId)
                {
                    <tr>
                        <td></td>
                        <td>@Model.HotelModel.ElementAt(i).property_name</td>
                        <td>@Model.HotelModel.ElementAt(i).address</td>
                        <td>@Model.HotelModel.ElementAt(i).total_price</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br /><br />
    <h3>Chosen Restaurants</h3>

    <table class="table">
        <thead>
            <tr style="margin-bottom:20px">
                <th></th>
                <th class="tableTitle">Rating</th>
                <th class="tableTitle">Name</th>
                <th class="tableTitle">Phone</th>
                <th class="tableTitle">Cuisine</th>
                <th class="tableTitle">Review</th>
                <th class="tableTitle">Link</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.RestaurantModels.Count(); i++)
            {
                if (Model.RestaurantModels.ElementAt(i).UserId == Model.UserId)
                {
                    <tr>
                        <td><img src="@Model.RestaurantModels.ElementAt(i).ImageUrl"></td>
                        <td><img src="@Model.RestaurantModels.ElementAt(i).RatingUrl"></td>
                        <td>@Model.RestaurantModels.ElementAt(i).Name</td>
                        <td>@Model.RestaurantModels.ElementAt(i).Phone</td>
                        <td>@Model.RestaurantModels.ElementAt(i).Category</td>
                        <td>@Model.RestaurantModels.ElementAt(i).Review</td>
                        <td><a href="@Model.RestaurantModels.ElementAt(i).Link">MoreInfo/Book</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
 }