@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello @ViewBag.FirstName </h2>
<h3>Welcome to your dashboard</h3>
<br />

<h4>You currently dont have any trips planned <br /><br /> Lets get one started!</h4>

<li>@Html.ActionLink("Start a new trip", "TripIndex", "Booking")</li>


<p>These options will only show once they have a trip planned yet</p>
<li>@Html.ActionLink("Book a flight", "FlightsIndex", "Booking")</li>
<li>@Html.ActionLink("Book a hotel", "HotelsIndex", "Booking")</li>
<li>@Html.ActionLink("Book a car", "CarsIndex", "Booking")</li>
<li>@Html.ActionLink("Check out restaurants", "RestaurantsIndex", "Booking")</li>
<li>@Html.ActionLink("Check out some local events", "EventsIndex", "Booking")</li>



<h3>Here's a summary of your trip so far:</h3>

<p>This is where we load the schedule as it exists once they have created a trip</p>