@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<h2>Hello @ViewBag.FirstName </h2>
<h3>Welcome to your dashboard</h3>
<br />

 @if (ViewBag.Status == false)
 {
<h4>You currently dont have any trips planned <br /><br /> Lets get one started!</h4>

<li>@Html.ActionLink("Start a new trip", "TripIndex", "Booking")</li>
 }
 else
 {
<p>These options will only show once they have a trip planned yet</p>
<li>@Html.ActionLink("Book a flight", "FlightsIndex", "Flight")</li>
<li>@Html.ActionLink("Book a hotel", "HotelsIndex", "Hotel")</li>
<li>@Html.ActionLink("Book a car", "CarsIndex", "Car")</li>
<li>@Html.ActionLink("Check out restaurants", "RestaurantsIndex", "Restaurant")</li>
<li>@Html.ActionLink("Check out some local events", "EventsIndex", "Event")</li>
 }

<div id="output"></div>
<div id="outputTwo"></div>
<script>
    var banana = "@ViewBag.Location"
</script>
@Scripts.Render("~/Scripts/Weather_API.js")



<h3>Here's a summary of your trip so far:</h3>

<p>This is where we load the schedule as it exists once they have created a trip</p>