@model TravelDash.Models.RestaurantsViewModel
@{
    ViewBag.Title = "RestaurantIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<h2>Restaurant Search</h2>


<br><br><br><br><br><br><br><br><br>

<h1 style="text-align:center">Restaurant Search in @ViewBag.Location</h1>

<br>
@using (Html.BeginForm("RestaurantsIndex", "Booking", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="container" style"width:100%">
    <form id="restaurantTable">
        <table class="table">
            <thead>
                <tr style="margin-bottom:20px">
                    <th class="tableTitle">Add</th>
                    <th></th>
                    <th class="tableTitle">Rating</th>
                    <th class="tableTitle">Name</th>
                    <th class="tableTitle">Phone</th>
                    <th class="tableTitle">Cuisine</th>
                    <th class="tableTitle">Review</th>
                    <th class="tableTitle">Link</th>
                </tr>
            </thead>
            @for (var i = 0; i < Model.TempRestaurants.Count(); i++)
            {
                <tbody>
            <tr><td><input name="@("checkBox"+(i.ToString()))" value="true" type="checkbox" /></td>
                <td><img src="@Model.TempRestaurants.ElementAt(i).ImageUrl"></td>
                <td><img src="@Model.TempRestaurants.ElementAt(i).RatingUrl"></td>
                <td>@Model.TempRestaurants.ElementAt(i).Name</td>
                <td>@Model.TempRestaurants.ElementAt(i).Phone</td>
                <td>@Model.TempRestaurants.ElementAt(i).Category</td>
                <td>@Model.TempRestaurants.ElementAt(i).Review</td>
                <td><a href="@Model.TempRestaurants.ElementAt(i).Link">MoreInfo/Book</a></td></tr>
                </tbody>
            }
        </table>
        <button type="submit" class="btn yellowBox blackBorderSmall">Add choices to dash</button>
    </form>
</div>
}
<br /><br />

<li>@Html.ActionLink("Back to dashboard", "Index", "Dashboard")</li>
