
@model TravelDash.Models.HotelViewModel

@{
    ViewBag.Title = "HotelsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HotelsIndex</h2>

<li>@Html.ActionLink("Back to dashboard", "Index", "Dashboard")</li>

<fieldset>
    <legend>Travel Dash Hotel Search</legend>
    @using (Ajax.BeginForm("HotelSearchResult", "Hotel", new AjaxOptions { UpdateTargetId = "divHotelSearchDetails" }))
    {
        <div id="divHotelSearchDetails"></div>
        <ol>
            <li>
                @Html.Label("City (Airport Code)")
                @Html.TextBox("txtCity")
            </li>
            <li>
                @Html.Label("Check In Date")
                @Html.TextBox("txtCheckIn")
            </li>
            <li>
                @Html.Label("Check Out Date")
                @Html.TextBox("txtCheckOut")
            </li>
            <li>
                @Html.Label("Maximum Distance From Airport")
                @Html.TextBox("txtDistance")
            </li>
            <li>
                @Html.Label("Number Of Results")
                @Html.TextBox("txtResults")
            </li>
        </ol>
        <button>Find Hotels</button>
    }
</fieldset>

@using (Html.BeginForm("HotelSearchResult", "Hotel", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter Hotel Details</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CheckIn, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CheckIn, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CheckOut, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CheckOut, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Distance, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Distance, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ResultNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ResultNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Find Hotels!" />
        </div>
    </div>
}





@using (Html.BeginForm("HotelsIndex", "Booking", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="container" style"width:100%">
    <form id="hotelTable">
        <table class="table">
            <thead>
                <tr style="margin-bottom:20px">
                    <th class="tableTitle">Add</th>
                    <th></th>
                    <th class="tableTitle">Name</th>
                    <th class="tableTitle">Address</th>
                    <th class="tableTitle">Total Price</th>
                </tr>
            </thead>
            @for (var i = 0; i < Model.TempHotels.Count(); i++)
            {
                <tbody>
                    <tr>
                        <td></td>
                        <td>@Model.TempHotels.ElementAt(i).property_name</td>
                        <td>@Model.TempHotels.ElementAt(i).address</td>
                        <td>@Model.TempHotels.ElementAt(i).total_price</td>
                    </tr>
                </tbody>
            }
            <tbody>@Model.TempHotels.ElementAt(0).property_name</tbody>
        </table>
        <button id="chooseButton" style="display: none" type="button" class="btn yellowBox blackBorderSmall">Add choices to dash</button>
    </form>
</div>
}